# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
L3/P1/.vs
L3/P1/P1/Release
L3/P1/P1/x64
L3/P1/x64
L3/P1/Release
L4/P1/.vs
L4/P1/P1/x64
L4/P1/x64
L5/acces_privat/.vs
L5/acces_privat/test/Release
L5/P2/.vs
L5/P2/P2/x64
L5/P2/x64
L7/P1/.vs
simulare_test_1
P3-test
L10/TraceFilter/.vs
L10/TraceFilter/TraceFilter/x64
L10/TraceFilter/x64
L11/mem-scan/.vs
L11/mem-scan/mem-scan/Release
L11/mem-scan/Release
